---
layout: default
title: Home
bannertext: Welcome to our lightbulb homepage.
showbanner: yes
---

<main role="main">
	<h1>Lightbulbs</h1>
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>

	<div class="grid">
		<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Promo 1" desc="Super-duper!" image="air-dinos/pteranodon.jpg" %}
		</div>
		
		<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Promo 1" desc="Super-duper!" image="air-dinos/pteranodon.jpg" %}
		</div>
	
		<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Promo 1" desc="Super-duper!" image="air-dinos/pteranodon.jpg" %}
		</div>
	</div>
</main>