# Accessibility Testing Report

User testing was conducted by {Emily Prochnau} on {March 31} between the times of {9:10 AM} and {11:00 AM} with the following participants:

- {Brittany Hogg}
- {Kayla Arujo}
- {Grant Jeffery}
- {Adriana Granieri}
- {Julia Paddick}
- {Rudy Gordon}

## Tasks

1. {Navigate through just the navigation and it's pages}
2. {Navigate through and find the info on the about page}
3. {Find the search bar, enter something, then read details of searched product}

---

## Individual Results & Observations

### {Brittany Hogg}

- {Completed task 1 using the tab navigation tool.}
- {Completed the task as normal, however the thank-you tab didn't work because it is currently in the cart folder, and the product pages should be linked in it's place.}

### {Kayla Arujo}

- {Completed task 2 using the voice over tool.}
- {Had issues with the voice over, wouldn't work just by using the arrow keys. She had to use the tab key instead.}
- {The info didn't read on the about page. Skipped from the h1 to the social media buttons in the foother.}

### {Grant Jeffery}

- {Completed task 3 using the voice over tool.}
- {Completed the task with no difficulties. Was able to read all text and didn't have the same issue Kayla did.}

### {Adriana Granieri}

- {Completed task 3 using the tab tool.}
- {Completed the task without a problem, all images and text highlight and can be read on the searched product page.}

### {Julia Paddick}

- {Completed task 2 using the tab navigation tool.}
- {Simple, easy to use, was easy to navigate without a problem.}

### {Rudy Gordon}

- {Completed task 1 using the voice over tool.}
- {Comeplted the task easily, had the same issue as Kayla where the arrow keys didn't work for navigation and only the tab key worked.}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {No critical fixes.}

### Serious, Causes Frustration, May Hinder Completion

- {No serious fixes.}

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out that sometimes the arrow keys didn't work for navigation and they had to resort do the tab key.}
- {Somewhat frustrating, but users were able to navigate properly with the tab key in it's place.}