# User Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Brittany Robertson}
- {Brittany Hogg}
- {Kayla Arujo}

## Tasks

1. {Does the search bar take you to the correct search page}
2. {Navigate through each button on the nav pages for information}
3. {Add something to your cart and follow through to check out}

---

## Individual Results & Observations

### {Brittany Robertson}

- {She clicked on the link as expected…}
- {She had troubles completing a specific task…}
- {She asked these questions…}
- {Fill in any observations that were important/relevant…}
- etc.

### {Brittany Hogg}

- Navigated the site well
- Had issues because the CSS isn't working
- Only one button to buy the product is frustrating and hard to find
- The buttons don't appear as buttons because the CSS is not functioning properly

### {Kayla Arujo}

- Took a while to click on the link as button was hard to find
- Navigation of home page was hard because the CSS hasn't been fixed yet
- Liked how the check out page lets you know what product you've chosen

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Missing product descriptions, need to add
- Need to correct CSS on homepage for large and small promos

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.