# Accessibility Testing Report

User testing was conducted by {Emily Prochnau} on {March 31} between the times of {9:10 AM} and {11:00 AM} with the following participants:

- {Brittany Hogg}
- {Kayla Arujo}
- {Grant Jeffery}
- {Adriana Granieri}
- {Todd Doe}
- {Taylor Doe}

## Tasks

1. {Navigate through just the navigation and it's pages} | V
2. {Navigate through and find the info on the about page} | T
3. {Find the search bar, enter something, then read details of searched product}

---

## Individual Results & Observations

### {Brittany Hogg}

- {Completed task 1 using the tab navigation tool.}
- {Completed the task as normal, however the thank-you tab didn't work because it is currently in the cart folder, and the product pages should be linked in it's place.}

### {Kayla Arujo}

- {Completed task 2 using the voice over tool.}
- {Had issues with the voice over, wouldn't work just by using the arrow keys. She had to use the tab key instead.}
- {The info didn't read on the about page. Skipped from the h1 to the social media buttons in the foother.}

### {Grant Jeffery}

- {Completed task 3 using the voice over tool.}
- {Completed the task with no difficulties. Was able to read all text and didn't have the same issue Kayla did.}

### {Adriana Granieri}

- {Completed task 3 using the tab tool.}
- {Completed the task without a problem, all images and text highlight and can be read on the searched product page.}
### {Todd Doe}

- {He completed the task as expected…}
- {He had troubles completing a specific task…}
- etc.

### {Taylor Doe}

- {They completed the task as expected…}
- {They had troubles completing a specific task…}
- etc.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.