---
layout: default
title: Home
---

<main role="main">
	<h1>Products we carry</h1>
	<p>The following are bulbs we currently have in stock.</p>
</main>

<h2>White bulbs</h2>
	<p>The following bulbs have a white colour cast.</p>
	
	<div class="grid">
		<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Incandescent bulb" desc="An electric light which produces light with a filament wire heated to a high temperature by an electric current passing through it." image="bulb1.jpg" %}
		<a class="btn" href="{{site.baseurl}}/details/">Buy Now!</a>
		</div>
		
	<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Fluorescent bulb" desc="A low pressure mercury-vapor gas-discharge lamp that uses fluorescence to produce visible light." image="bulb2.jpg" %}
		<a class="btn" href="{{site.baseurl}}/details/">Buy Now!</a>
		</div>
		
	<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Halogen bulb" desc="The combination of the halogen gas and the tungsten filament produces a halogen cycle chemical reaction." image="bulb3.jpg" %}
		<a class="btn" href="{{site.baseurl}}/details/">Buy Now!</a>
		</div>
		
	<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="White Christmas bulb" desc="Our white Christmas light bulbs are LED quality which offers a longer life and is more eco friendly." image="bulb4.jpg" %}
		<a class="btn" href="{{site.baseurl}}/details/">Buy Now!</a>
		</div>
		
	<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="White LED bulb" desc="LED lamps have a lifespan and electrical efficiency that is several times better than incandescent lamps, and significantly better than most fluorescent lamps, with some chips able to emit more than 100 lumens per watt." image="bulb5.jpg" %}
		<a class="btn" href="{{site.baseurl}}/details/">Buy Now!</a>
		</div>
</div>

<h2>Coloured bulbs</h2>
	<p>The following bulbs are different colours creating colour casts.</p>

	<div class="grid">
		<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Stained glass incandescent bulb" desc="While this bulb functions the same as a regular incandescent bulb, it's features include a beautiful stained glass finish that casts coloured light in and around the area you choose to light." image="bulb6.jpg" %}
		<a class="btn" href="{{site.baseurl}}/details/">Buy Now!</a>
		</div>
		
	<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Blue halogen bulb" desc="Functions the same as a halogen bulb, however creates a blue colour cast. Generally used for stage lights and performance acts." image="bulb7.jpg" %}
		<a class="btn" href="{{site.baseurl}}/details/">Buy Now!</a>
		</div>
		
	<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Incandescent black light" desc="An incandescent-shaped black light that allows light (specifically white) clothing and items to glow in the dark." image="bulb8.jpg" %}
		<a class="btn" href="{{site.baseurl}}/details/">Buy Now!</a>
		</div>
		
	<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Multi coloured Christmas light packaged" desc="These LED Christmas lights come in a multi coloured package. They all have incredible light life, shine brighter than almost any other bulb we carry, and are more eco friendly than any other bulb we carry." image="bulb9.jpg" %}
		<a class="btn" href="{{site.baseurl}}/details/">Buy Now!</a>
		</div>
		
	<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Limited edition gray braing bulb" desc="This fluroescent bulb functions the same way a regular bulb does, however it creates a grey colour cast. As well, because of it creative shape, the beams that hit your living space will be extraordinary. This is a limited editon bulb, and is for sale while supplies last." image="bulb10.jpg" %}
		<a class="btn" href="{{site.baseurl}}/details/">Buy Now!</a>
		</div>
</div>