---
layout: default
title: Home
---

<main role="main">
	<h1>Products we carry</h1>
	<p>The following are bulbs we currently have in stock.</p>
</main>

<div class="grid">
		<div class="gutter unit unit-l-2-3">
		{% include filter-1.html title="White Bulbs" desc="Bulbs with a white colour cast" image="bulb1.jpg" %}
		</div>
</div>
		
<div class="grid">
		<div class="gutter unit unit-l-2-3">
		{% include filter-2.html title="Coloured Bulbs" desc="Bulbs with a colour cast" image="bulb6.jpg" %}
		</div>
</div>