---
layout: default
---

<h1>Incandescent Bulb</h1>

<p>An incandescent light bulb, incandescent lamp or incandescent light globe is an electric light which produces light with a filament wire heated to a high temperature by an electric current passing through it, until it glows (see Incandescence). The hot filament is protected from oxidation with a glass or quartz bulb that is filled with inert gas or evacuated. In a halogen lamp, filament evaporation is prevented by a chemical process that redeposits metal vapor onto the filament, extending its life. The light bulb is supplied with electrical current by feed-through terminals or wires embedded in the glass. Most bulbs are used in a socket which provides mechanical support and electrical connections.</p>

